---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I Tiwari </div>
    <div class="text-3xl py-3 font-bold">A Gardener who helps plants.</div>
    <div class="py-2">
      <text class="text-lg">
        This is <b>Gardener</b> I am a passionate and dedicated gardener with 12 years of hands-on experience in cultivating beautiful and thriving gardens. I specialize in sustainable garden design, plant care, and landscape maintenance. 
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/contact" target="_blank"> Let's connect!</a>
      <a href="https://github.com/" target="_blank" class="btn btn-outline ml-5">
        GitHUb
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="🌿 Vertical Garden Planter"
    img="/demo1.jpg"
    desc="Maximize your garden space with a vertical garden planter! It transforms a plain wall or fence into a lush green oasis using trellises, wall-mounted planters, or hanging baskets. Perfect for small spaces or balconies, vertical gardens add vibrant greenery while saving space and making a beautiful statement."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="🔥 DIY Fire Pit Rockery"
    img="/demo2.jpg"
    desc="Create a cozy gathering spot with a simple fire pit rockery. Using stones and rocks, build a decorative, functional fire pit that warms your garden on cool evenings. This project adds ambiance and a social focal point to your outdoor space, perfect for relaxing or entertaining friends and family."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="🌸Curved Stone Garden Path"
    img="/demo3.jpg"
    desc="Bring charm and structure to your garden by crafting a winding curved stone path. This adds dimension and guides visitors through your garden. Use a combination of gravel and stepping stones for a natural look that protects plants and enhances the landscape design."
    url="#"
    badge="STONE"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
