---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services Header</div>
  </div>

  <HorizontalCard
    title="Garden Design and Planning"
    img="/project1.jpg"
    desc="Offer custom garden design services tailored to clients’ preferences, climate, and space. This can include creating planting plans, hardscape layout, and garden themes to transform outdoor spaces into beautiful, functional gardens."
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Planting and Garden Maintenance"
    img="/project2.jpg"
    desc="Provide regular planting services, seasonal plant care, pruning, weeding, mulching, and watering schedules. This service helps clients keep their gardens healthy and vibrant without the hassle of doing it themselves."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Consultation and Gardening Workshops"
    img="/project3.jpg"
    desc="Offer expert advice sessions or workshops for beginner and experienced gardeners. Topics can include soil health, pest management, companion planting, and sustainable gardening techniques, helping clients develop their gardening skills."
    url="#"
    badge="NEW"
  />
  
</BaseLayout>
